 <footer class="pt-120">
    <div class="container">
      <div class="footer_area mb-48">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-7 order-lg-1 order-2">
            <div class="links-block">
              <h6 class="fw-600 color-primary mb-24">Жылдам Жалғаным</h6>
              <div class="our-links">
                <ul class="unstyled">
                  <li><a href="/">Басты Бет</a></li>
                  <li><a href="/pages/about">Біз туралы</a></li>
                  <li><a href="/pages/services">Қызметтер</a></li>
                  <li><a href="/#doctors">Дәрігерлер</a></li>
                </ul>
                <ul class="unstyled">
                  <li><a href="/#appointment">Брондау</a></li>
                  <li><a href="/pages/blogs">Блог</a></li>
                  <li><a href="/#faqs">FAQ's</a></li>
                  <li><a href="/pages/contact">Байланыс</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 order-lg-2 order-1">
            <div class="footer_center_area text-center">
              <a href="/"><img src="/assets/media/brand-logo.png" alt="" class="mb-32"></a>
              <p class="gray mb-48">«RASHMED» қазақ медицина орталығы <br>2014-жылдан бастап
                медициналық қызмет <br class="d-lg-block d-none"> атқарып келеді. Орталықтың басты мақсаты – <br>адамдардың
денсаулығын сақтау мен нығайту. </p>
              <h5 class="light-black mb-16">Біздің жаңалықтарға жазылыңыз.</h5>
              <form action="/" method="post" class="form-group">
                <input type="email" name="email" id="e_mail" placeholder="email@example.com" class="form-control">
                <button type="submit" class="newsletter-btn">Жазылу</button>
              </form>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-5 order-lg-3 order-3">
            <div class="links-block">
              <h6 class="fw-600 color-primary mb-24">Contact Links</h6>
              <div class="our-links">
                <ul class="unstyled">
                  <li>
                    <p class="details"><img src="/assets/media/icons/location.png" alt="">Нұрсұлтан қ.
Қасым Аманжолов к-сі,
28/1 Офис НП 3</p>
                  </li>
                  <li><a href="" class="details"><img src="/assets/media/icons/mail.png" alt="">admin@rashmed.kz</a>
                  </li>
                  <li>
                    <p class="details"><img src="/assets/media/icons/telephone-2.png" alt="">+7(705)6066-888</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_social_links bg-primary">
      <div class="container">
        <div class="d-flex justify-content-between">
          <p class="white">©2025 «RASHMED» қазақ медицина орталығы.</p>
          <ul class="social-media-icons m-0 unstyled">
            <li><a href=""><img src="/assets/media/icons/instagram-w.png" alt=""></a></li>
            <li><a href=""><img src="/assets/media/icons/twitter-w.png" alt=""></a></li>
            <li><a href=""><img src="/assets/media/icons/facebook-w.png" alt=""></a></li>
            <li><a href=""><img src="/assets/media/icons/linkedin-w.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>