--- 
title: about
layout: 'base.njk'
---


    <!-- Header Area Start -->
    <header class="header">
      <div class="container">
        <nav class="navbar upper d-flex">
          <a class="navbar-brand d-lg-none" href="/">
            <img alt="" src="/assets/media/brand-logo.png">
          </a>
          <a class="navbar-brand d-lg-block d-none" href="/"><img alt="" src="/assets/media/brand-logo.png"></a>
          <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="mynavbar">
              <ul class="navbar-nav mainmenu m-0">
                <li class="menu-item ">
                  <a href="/" >Басты Бет</a>
                </li>
                <li class="menu-item "> 
                  <a href="/pages/about" class="active">Біз туралы</a>
                </li>
                <li class="menu-item ">
                  <a href="/pages/services">Қызметтер</a>
                </li>
                <li class="menu-item ">
                  <a href="/pages/blogs">Блог</a>
                </li>
                <li class="menu-item ">
                  <a href="/pages/contact">Байланыс</a>
                </li>
              </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
              <i class="fal fa-bars"></i>
            </button>
          </nav>
          <div class="right-content d-lg-flex d-none">
            <a href="" class="color-primary">
              <h6 class="fw-600 d-xl-block d-none"><i class="fal fa-phone-alt"></i> +7(705)6066-888</h6>
            </a>
            <ul class="unstyled">
              <li><a href="/#appointment" class="cus-btn">
                  <h6>Онлайн Брондау</h6>
                </a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header Area end -->
    <div class="bg-wrapper-2">
      <!-- Title-Banner Start -->
      <div class="title-banner mb-24">
        <div class="container">
          <div class="row">
            <h1 class="light-black">Біз туралы</h1>
          </div>
        </div>
      </div>
      <!-- Title-Banner End -->


      <!-- About Us Start-->
      <div class="about-us pt-40">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7">
              <div class="content-area">
                <h6 class="color-primary mb-4p">Біз туралы</h6>
              <h2 class="light-black mb-16">Емдеуге жаңашыл көзқараспен қарайтын клиника</h2>
              <p class="gray mb-32">Біз медициналық қызметтердің кең спектрін ұсынамыз, осылайша әр адам сапалы медициналық көмек алуға мүмкіндік алады.
              </p>
              <div class="row g-0">
                <div class="col-md-6 col-sm-6 mb-md-0 mb-24">
                  <div class="msg-box box-1 shadow br-30 p-24">
                    <h4 class="light-black mb-16">Басты мақсат</h4>
                    <p class="gray">Орталықтың басты мақсаты –
адамдардың денсаулығын сақтау мен нығайту.</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="msg-box box-2 mb-32 shadow br-30 p-24">
                    <h4 class="light-black mb-16">Біздің міндет</h4>
                    <p class="gray">Науқастарға уақытылы әрі
сапалы медициналық қызмет көрсету</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-xl-6 col-lg-5">
            <img src="/assets/media/about/about-image.png" alt="" class="about_image br-30">
          </div>
        </div>
      </div>
      </div>
      <!-- About Us End-->
    </div>

    <!-- Benifits Start -->
    <div class="benifits p-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="benifits-block mb-lg-0 mb-24">
              <h5 class="white mb-4p">Білікті дәрігерлер</h5>
                <p class="white">Тәжірибелі дәрігерлер мәселелеріңізді шешуге дайын.</p>
                <div class="image-circle">
                  <img src="/assets/media/icons/benefits-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="benifits-block mb-lg-0 mb-24">
                <h5 class="white mb-4p">Жедел көмек
</h5>
                <p class="white">Көмек қажет болған кезде, біз толық дайындықпен сіз үшін қызмет етеміз!</p>
                <div class="image-circle">
                  <img src="/assets/media/icons/benefits-2.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="benifits-block mb-lg-0 mb-24">
                <h5 class="white mb-4p">24/7 Қолжетімді</h5>
                <p class="white">Қашан хабарласаыңыз да, біздің тіркеушіміз кездесу уақытын белгілеп береді.</p>
                <div class="image-circle">
                  <img src="/assets/media/icons/benefits-3.png" alt="">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Benifits Bar End-->

    <!-- Our values Start -->
    <section class="values">
      <div class="container">
        <h6 class="color-primary fw-600 mb-4p">Our Values</h6>
        <h2 class="light-black mb-32">Our Sincerity to Our Patients</h2>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-1.png" alt="">
                <h5 class="light-black">Honesty</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-2.png" alt="">
                <h5 class="light-black">Learning</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-3.png" alt="">
                <h5 class="light-black">Care</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-4.png" alt="">
                <h5 class="light-black">Trust</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-5.png" alt="">
                <h5 class="light-black">Passion</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-6.png" alt="">
                <h5 class="light-black">Vision</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-7.png" alt="">
                <h5 class="light-black">Future</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="value-card p-24 mb-24 ">
              <div class="image_title mb-16">
                <img src="/assets/media/icons/value-8.png" alt="">
                <h5 class="light-black">Latest Tech</h5>
              </div>
              <p class="gray">Lorem ipsum dolor sit amet consectetur. Vestibulum elit eu vulputate tristique enim molestie neque.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our values End -->
  
    <!-- BG Wrapper Start -->
    <div class="bg-wrapper about-us">

      <!-- FAQ's Start -->
      <section class="faq p-120">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <h6 class="color-primary fw-600">FAQ's</h6>
            <h2 class="light-black mb-32">Сұрағыңызды осында қалдырыңыз</h2>
            <div class="faq-form">
              <form method="post" action="/" class="form-group contact-from">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="icon-block mb-24">
                      <label for="first_name" class="mb-4p">Есіміңіз*</label>
                      <input type="text" class="form-control" id="first_name" name="name" required
                        placeholder="Толық Аты-жөны">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="icon-block mb-24">
                      <label for="e-mail" class="mb-4p">Email*</label>
                      <input type="email" class="form-control" id="e-mail" name="email" required
                        placeholder="email@example.com">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="icon-block mb-32">
                      <label for="mssg" class="mb-4p">Сұрақтарыңыз</label>
                      <textarea name="message" class="form-control" id="mssg" cols="30" rows="5"
                        placeholder="Сәлеметсіз бе!"></textarea>
                    </div>
                  </div>
                </div>
                <button type="submit" class="cus-btn small-pad">Сұрақты жолдау</button>
                <!-- Alert Message -->
                <div id="messagee" class="alert-msg"></div>
              </form>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="row m-0 p-md-0 p-24" id="accordionExample">
              <div class="faq-block border-0">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1"
                  aria-expanded="true" aria-controls="faq1">Көрсетілетін қызметтерді қалай алуға болады?
                </a>
                <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="faq1"
                  data-bs-parent="#accordionExample">
                  <p class="gray">Орталығымыздың хабарласу нөмері: 8778-4611-888 не қоңырау шалып, қажетті қызметті аласыз. Сондай-ақ, https://rashmed.kz/ сайтымызға кіріп, онлайын бурандауға мүмкіндігіңіз бар.
                  </p>
                </div>
              </div>
              <div class="faq-block">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2"
                  aria-expanded="true" aria-controls="faq2"> Емделу басқышында нелерге көіл бөлу керек?
                </a>
                <div id="faq2" class="accordion-collapse collapse " aria-labelledby="faq2"
                  data-bs-parent="#accordionExample">
                  <p class="gray">Көрсетілетін қызметтердің ерекшеліктеріне қарай, емдеуші дәрігердің нұсқауларына сай емделу басқышындағы көіңл бөлуге тиісті азықтану, демалыс және жұмыс істеу т.б жақтарды қадағалап отыру керек.
                  </p>
                </div>
              </div>
              <div class="faq-block">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3"
                  aria-expanded="true" aria-controls="faq3">Қызметтерге төленетін ақы аударымдары туралы?
                </a>
                <div id="faq3" class="accordion-collapse collapse " aria-labelledby="faq3"
                  data-bs-parent="#accordionExample">
                  <p class="gray">Қолма-қол төлемнен сырт, банк қосымшалары арқылы аударылым жасауға болады.
                  </p>
                </div>
              </div>
              
              <div class="faq-block">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq7"
                  aria-expanded="true" aria-controls="faq7">Қалай алдын-ала Брондауға болады?
                </a>
                <div id="faq7" class="accordion-collapse collapse " aria-labelledby="faq7"
                  data-bs-parent="#accordionExample">
                  <p class="gray">"Сатып алу" түймесін басу арқылы Medicare-ді сатып алыңыз және платформаның ең керемет клиника тақырыбын алыңыз! Тақырыпты қазір алыңыз. </p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- FAQ's End -->

      <!-- Team Section Start -->
      <section class="team">
        <div class="container">
          <h6 class="color-primary fw-600 mb-4p">Дәрігерлер</h6>
          <h2 class="light-black">Кәсіби мамандарға <br> Сенім артыңыз</h2>
          <div class="mb-32 mt-32">
            <div class="row">
               {%- for team in collections.team  -%}
           {% if loop.index0 < 4 %}
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="team_card mb-md-0 mb-24">
                  <div class="image_block mb-16">
                    <a href="{{ team.url }}"><img src="{{ team.data.portfolio}}" alt="{{ team.data.caption}}"></a>
                    <ul class="social-media-links unstyled">
                      <li><a href=""><img src="/assets/media/icons/instagram.png" alt=""></a></li>
                      <li><a href=""><img src="/assets/media/icons/twitter.png" alt=""></a></li>
                      <li><a href=""><img src="/assets/media/icons/facebook.png" alt=""></a></li>
                      <li><a href=""><img src="/assets/media/icons/linkedin.png" alt=""></a></li>
                    </ul>
                  </div>
                  <div class="text_block text-center">
                    <h5 class="light-black mb-8"><a href="{{ team.url }}">{{ team.data.doctor}}</a></h5>
                    <h6 class="gray fw-600 m-0">{{ team.data.job }}</h6>
                  </div>
                </div>
              </div>
             
             {%- endif %}
                 {%- endfor %}
              
            </div>
          </div>
         
        </div>
      </section>
      <!-- Team Section End -->

     <!-- Testimonials Section Start -->
     <section class="testimonials p-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
           <h6 class="color-primary fw-600 mb-4p">Жұрт лебізі</h6>
            <h2 class="light-black mb-16">Емделушілер не айтады</h2>
            <p class="gray">"Дәрігерлер шынымен қамқорлық жасайды! РашМед-ке келген кезде мен керемет әсер алдым! Персонал керемет мейірімді және кәсіби болды. Мен РашМед-ке баруды ұсынамын."</p>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="testimonials-slider-1 mb-16">
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-1.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>Сіздерге мың да бір алғыс,  мен өзімді жақсы сезінемін</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-2.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Moly Macrae</h5>
                    <p>«Мен РашМед-те кездескен барлық адамдарға өте ризамын. </p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-3.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>«Мені мейірімді қызметкерлер қарсы алды,және көмектесті. </p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
            </div>
            <div class="testimonials-slider-2">
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-1.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>«Мен әрқашан дәрігермен сөйлесіп, мәселелерімді шеше алдым.</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-4.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Moly Macrae</h5>
                    <p>Дәрігерлер шынымен қамқорлық жасайды!Мен РашМед-ке баруды ұсынамын</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-5.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>РашМед-ке келу сенімді отбасымен қарым-қатынас жасау сияқты.</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials Section End -->

    </div>
  </div>
    <!-- Footer Start -->
   
    <!-- Footer Area End  -->

  