--- 
title: home
layout: 'base.njk'
---

    <!-- Header Area Start -->
    <header class="header">
      <div class="container">
        <nav class="navbar upper d-flex">
          <a class="navbar-brand d-lg-none" href="/">
            <img alt="" src="/assets/media/brand-logo.png">
          </a>
          <a class="navbar-brand d-lg-block d-none" href="/"><img alt="" src="/assets/media/brand-logo.png"></a>
          <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="mynavbar">
              <ul class="navbar-nav mainmenu m-0">
                <li class="menu-item ">
                  <a href="/" class="active">Басты Бет</a>
                </li>
                <li class="menu-item "> 
                  <a href="/pages/about" >Біз туралы</a>
                </li>
                <li class="menu-item ">
                  <a href="/pages/services">Қызметтер</a>
                </li>
                <li class="menu-item ">
                  <a href="/pages/blogs">Блог</a>
                </li>
                <li class="menu-item ">
                  <a href="/pages/contact">Байланыс</a>
                </li>
              </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
              <i class="fal fa-bars"></i>
            </button>
          </nav>
          <div class="right-content d-lg-flex d-none">
            <a href="" class="color-primary">
              <h6 class="fw-600 d-xl-block d-none"><i class="fal fa-phone-alt"></i> +7(705)6066-888</h6>
            </a>
            <ul class="unstyled">
              <li><a href="/#appointment" class="cus-btn">
                  <h6>Онлайн Брондау</h6>
                </a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header Area end -->


    <section class="hero-banner">
      <div class="container">
        <!-- Hero-Banner Start -->
        <div class="banner-area">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <div class="text-block mb-48 mt-xl-0 mt-60">
                <h1 class="light-black mb-8">Денсаулық-зор байлық</h1>
                <p class="mb-32 gray">Медициналық орталығымыздың басты мақсаты өз саласының үздік мамандары арқылы науқастарымызға ең сапалы көмек көрсету. </p>
                <a href="/#appointment" class="cus-btn h6">Онлайн Брондау</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/pages/contact" class="cus-btn active h6">Байланыс</a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="banner-right-image">
                <img src="assets/media/banner/banner-image.png" alt="" class="banner-image">
                <div class="banner-card">
                  <h4 class="color-primary">10</h4>
                  <h6 class="light-black">Білікті мамандар</h6>
                </div>
                <div class="banner-card box-2">
                  <h4 class="color-primary">20K</h4>
                  <h6 class="light-black">Сәтті емдеулер</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Hero-Banner End -->

        <!-- Benifits Start -->
        <div class="benifits p-120">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="benifits-block mb-lg-0 mb-24">
                <h5 class="white mb-4p">Білікті дәрігерлер</h5>
                <p class="white">Тәжірибелі дәрігерлер мәселелеріңізді шешуге дайын.</p>
                <div class="image-circle">
                  <img src="/assets/media/icons/benefits-1.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="benifits-block mb-lg-0 mb-24">
                <h5 class="white mb-4p">Жедел көмек
</h5>
                <p class="white">Көмек қажет болған кезде, біз толық дайындықпен сіз үшін қызмет етеміз!</p>
                <div class="image-circle">
                  <img src="/assets/media/icons/benefits-2.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="benifits-block mb-lg-0 mb-24">
                <h5 class="white mb-4p">24/7 Қолжетімді</h5>
                <p class="white">Қашан хабарласаыңыз да, біздің тіркеушіміз кездесу уақытын белгілеп береді.</p>
                <div class="image-circle">
                  <img src="/assets/media/icons/benefits-3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Benifits Bar End-->
    </section>

    <!-- About Us Start-->
    <section class="about-us pt-40">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7">
            <div class="content-area">
              <h6 class="color-primary mb-4p">Біз туралы</h6>
              <h2 class="light-black mb-16">Емдеуге жаңашыл көзқараспен қарайтын клиника</h2>
              <p class="gray mb-32">Біз медициналық қызметтердің кең спектрін ұсынамыз, осылайша әр адам сапалы медициналық көмек алуға мүмкіндік алады.
              </p>
              <div class="row g-0">
                <div class="col-md-6 col-sm-6 mb-md-0 mb-24">
                  <div class="msg-box box-1 shadow br-30 p-24">
                    <h4 class="light-black mb-16">Басты мақсат</h4>
                    <p class="gray">Орталықтың басты мақсаты –
адамдардың денсаулығын сақтау мен нығайту.</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="msg-box box-2 mb-32 shadow br-30 p-24">
                    <h4 class="light-black mb-16">Біздің міндет</h4>
                    <p class="gray">Науқастарға уақытылы әрі
сапалы медициналық қызмет көрсету</p>
                  </div>
                </div>
              </div>
              <a href="/pages/about" class="cus-btn mb-xl-0 mb-24" target="_blank">Көбірек...</a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5">
            <img src="/assets/media/about/about-image.png" alt="" class="about_image br-30">
          </div>
        </div>
      </div>
    </section>
    <!-- About Us End-->

    <!-- Services Section Start -->
    <section class="services p-120">
      <div class="container">
        <h6 class="color-primary fw-600 mb-4p">Қызмет түрлері</h6>
        <h2 class="light-black mb-32">Біздің бөлімдер</h2>
        <div class="row">
          
{%- for work in collections.work  -%}
           {% if loop.index0 < 3 %}
            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="service-block mb-32">
                <div class="image-circle">
                  <img src="{{ work.data.thumnail }}" alt="{{ work.data.alt }}">
                </div>
                <div class="text-block">
                 <h4 class="light-black mb-16">{{ work.data.service }}</h4>
                <p class="gray">{{ work.data.excerpt }} </p>
              </div>
              <div class="bottom-bar">
                <a href="{{ work.url }}" class="cus-btn small-pad-2" target="_blank">Қызметті алу</a>
                <a href="{{ work.url }}" class="color-primary" target="_blank">
                  <h6 class="fw-600">Көбірек... <i class="fal fa-chevron-right"></i></h6>
                </a>
              </div>
            </div>
          </div>
           {%- endif %}
                 {%- endfor %}
          
          
          
          </div>
        </div>
        <a href="/pages/services" class="cus-btn d-flex m-auto" target="_blank">Барлығын қарау</a>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Appointment Table Start -->
    <section class="app-table">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-8">
            <!--Table-->
            <div class="time-table">
              <h6 class="color-primary fw-600 mb-8">Жұмыс сағаты</h6>
              <h3 class="fw-700">Жұмыс уақыты бойынша Брондау</h3>
              <div class="table-responsive">
                <!--Table-->
                <table class="table appointment-table">
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th class="th-sm"></th>
                      <th class="th-sm"></th>
                      <th class="th-sm"></th>
                    </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    <tr>
                      <td><span class="ptb-24 fw-600">Дүйсенбі</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>
                    <tr>
                      <td><span class="ptb-24 fw-600">Сейсенбі</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>
                    <tr>
                      <td><span class="ptb-24 fw-600">Сәрсенбі</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>
                    <tr>
                      <td><span class="ptb-24 fw-600">Бейсенбі</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>
                    <tr>
                      <td><span class="ptb-24 fw-600">Жұма</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>
                    <tr>
                      <td><span class="ptb-24 fw-600">Сенбі</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>
                    <tr>
                      <td><span class="ptb-24 fw-600">Жексенбі</span></td>
                      <td class="fw-600"><span class="ptb-24"> 7AM - 11PM</span></td>
                      <td><a href="/#appointment" class="color-primary fw-600 ptb-24">Брондау</a></td>
                    </tr>

                  </tbody>
                  <!--Table body-->
                </table>
                <!--Table-->
              </div>
              <div class="bottom-bar d-flex justify-content-between align-items-center">
                <h5 class="light-black">Уақыт режимі тұрақты</h5>
                <a href="/#appointment" class="cus-btn small-pad">Онлайн Брондау</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Appointment Table End -->

    <!-- BG Wrapper Start -->
    <div class="bg-wrapper">

      <!-- Team Section Start -->
      <section id="doctors" class="team p-120">
        <div class="container">
          <h6 class="color-primary fw-600 mb-4p">Дәрігерлер</h6>
          <h2 class="light-black">Кәсіби мамандарға <br> Сенім артыңыз</h2>
          <div class="mb-32 mt-32">
            <div class="row">
          {%- for team in collections.team  -%}
           {% if loop.index0 < 4 %}
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="team_card mb-md-0 mb-24">
                  <div class="image_block mb-16">
                    <a href="{{ team.url }}" target="_blank"><img src="{{ team.data.portfolio}}" alt="{{ team.data.caption}}"></a>
                    <ul class="social-media-links unstyled">
                      <li><a href=""><img src="/assets/media/icons/instagram.png" alt=""></a></li>
                      <li><a href=""><img src="/assets/media/icons/twitter.png" alt=""></a></li>
                      <li><a href=""><img src="/assets/media/icons/facebook.png" alt=""></a></li>
                      <li><a href=""><img src="/assets/media/icons/linkedin.png" alt=""></a></li>
                    </ul>
                  </div>
                  <div class="text_block text-center">
                    <h5 class="light-black mb-8"><a href="{{ team.url }}" target="_blank">{{ team.data.doctor }}</a></h5>
                    <h6 class="gray fw-600 m-0">{{ team.data.job }}</h6>
                  </div>
                </div>
              </div>
             
             {%- endif %}
                 {%- endfor %}
              
            </div>
          </div>
          
        </div>
      </section>
      <!-- Team Section End -->

      <!-- Appointment Form Start -->
      <section id="appointment" class="app-booking">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <img src="/assets/media/images/appointment-form.png" alt="" class="appointment-image br-30">
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="appointment-form p-24 mt-xl-0 mt-24">
                <h6 class="color-primary">Брондау</h6>
                <h2 class="light-black">қабылдауға жазылу</h2>
                <form method="post" action="/" class="form-group mt-32">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="icon-block mb-24">
                        <label for="first-name" class="mb-4p">Есіміңіз*</label>
                        <input type="text" class="form-control" id="first-name" name="name" required
                          placeholder="Толық Аты-жөні">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="icon-block mb-24">
                        <label for="no" class="mb-4p">Нөмеріңіз*</label>
                        <input type="tel" class="form-control" id="no" name="number" required
                          placeholder="+7 (700) 1234 567">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="icon-block mb-24">
                        <label for="email" class="mb-4p">Email*</label>
                        <input type="email" class="form-control" id="email" name="e-mail" required
                          placeholder="email@example.com">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="icon-block mb-24">
                        <label for="date" class="mb-4p">Күн*</label>
                        <input type="datetime-local" class="form-control" id="date" name="date" required>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="icon-block mb-24">
                        <label for="tim" class="mb-4p">Сағаты*</label>
                        <input type="time" class="form-control" id="tim" name="time" required>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="icon-block mb-32">
                        <label for="tim" class="mb-4p">Мазмұны</label>
                        <textarea name="message" class="form-control" id="msg" cols="30" rows="6"
                          placeholder="Сәлеметсіз бе!"></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="cus-btn small-pad">Брондауға қою</button>
                  <!-- Alert Message -->
                  <div id="message" class="alert-msg"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Appointment Form End -->

      <!-- Testimonials Section Start -->
    <section class="testimonials p-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <h6 class="color-primary fw-600 mb-4p">Жұрт лебізі</h6>
            <h2 class="light-black mb-16">Емделушілер не айтады</h2>
            <p class="gray">"Дәрігерлер шынымен қамқорлық жасайды! РашМед-ке келген кезде мен керемет әсер алдым! Персонал керемет мейірімді және кәсіби болды. Мен РашМед-ке баруды ұсынамын."</p>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="testimonials-slider-1 mb-16">
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-1.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>Сіздерге мың да бір алғыс,  мен өзімді жақсы сезінемін</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-2.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Moly Macrae</h5>
                    <p>«Мен РашМед-те кездескен барлық адамдарға өте ризамын. </p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-3.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>«Мені мейірімді қызметкерлер қарсы алды,және көмектесті. </p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
            </div>
            <div class="testimonials-slider-2">
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-1.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>«Мен әрқашан дәрігермен сөйлесіп, мәселелерімді шеше алдым.</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-4.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Moly Macrae</h5>
                    <p>Дәрігерлер шынымен қамқорлық жасайды!Мен РашМед-ке баруды ұсынамын</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
              <div class="slide-item">
                <div class="testimonials-card">
                  <div class="user-image">
                    <img src="/assets/media/users/user-5.png" alt="">
                  </div>
                  <div class="text-block">
                    <h5>Sonia Cleric</h5>
                    <p>РашМед-ке келу сенімді отбасымен қарым-қатынас жасау сияқты.</p>
                  </div>
                  <img src="/assets/media/icons/qoutes.png" alt="" class="quote-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials Section End -->

    <!-- FAQ's Start -->
    <section id="faqs" class="faq">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <h6 class="color-primary fw-600">FAQ's</h6>
            <h2 class="light-black mb-32">Сұрағыңызды осында қалдырыңыз</h2>
            <div class="faq-form">
              <form method="post" action="/" class="form-group contact-from">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="icon-block mb-24">
                      <label for="first_name" class="mb-4p">Есіміңіз*</label>
                      <input type="text" class="form-control" id="first_name" name="name" required
                        placeholder="Толық Аты-жөны">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="icon-block mb-24">
                      <label for="e-mail" class="mb-4p">Email*</label>
                      <input type="email" class="form-control" id="e-mail" name="email" required
                        placeholder="email@example.com">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="icon-block mb-32">
                      <label for="mssg" class="mb-4p">Сұрақтарыңыз</label>
                      <textarea name="message" class="form-control" id="mssg" cols="30" rows="5"
                        placeholder="Сәлеметсіз бе!"></textarea>
                    </div>
                  </div>
                </div>
                <button type="submit" class="cus-btn small-pad">Сұрақты жолдау</button>
                <!-- Alert Message -->
                <div id="messagee" class="alert-msg"></div>
              </form>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="row m-0 p-md-0 p-24" id="accordionExample">
              <div class="faq-block border-0">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1"
                  aria-expanded="true" aria-controls="faq1">Көрсетілетін қызметтерді қалай алуға болады?
                </a>
                <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="faq1"
                  data-bs-parent="#accordionExample">
                  <p class="gray">Орталығымыздың хабарласу нөмері: 8778-4611-888 не қоңырау шалып, қажетті қызметті аласыз. Сондай-ақ, https://rashmed.kz/ сайтымызға кіріп, онлайын бурандауға мүмкіндігіңіз бар.
                  </p>
                </div>
              </div>
              <div class="faq-block">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2"
                  aria-expanded="true" aria-controls="faq2"> Емделу басқышында нелерге көіл бөлу керек?
                </a>
                <div id="faq2" class="accordion-collapse collapse " aria-labelledby="faq2"
                  data-bs-parent="#accordionExample">
                  <p class="gray">Көрсетілетін қызметтердің ерекшеліктеріне қарай, емдеуші дәрігердің нұсқауларына сай емделу басқышындағы көіңл бөлуге тиісті азықтану, демалыс және жұмыс істеу т.б жақтарды қадағалап отыру керек.
                  </p>
                </div>
              </div>
              <div class="faq-block">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3"
                  aria-expanded="true" aria-controls="faq3">Қызметтерге төленетін ақы аударымдары туралы?
                </a>
                <div id="faq3" class="accordion-collapse collapse " aria-labelledby="faq3"
                  data-bs-parent="#accordionExample">
                  <p class="gray">Қолма-қол төлемнен сырт, банк қосымшалары арқылы аударылым жасауға болады.
                  </p>
                </div>
              </div>
              
              <div class="faq-block">
                <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq7"
                  aria-expanded="true" aria-controls="faq7">Қалай алдын-ала Брондауға болады?
                </a>
                <div id="faq7" class="accordion-collapse collapse " aria-labelledby="faq7"
                  data-bs-parent="#accordionExample">
                  <p class="gray">"Сатып алу" түймесін басу арқылы Medicare-ді сатып алыңыз және платформаның ең керемет клиника тақырыбын алыңыз! Тақырыпты қазір алыңыз. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ's End -->

    <!-- Contact Us Banner Start -->
    <section class="contact-us p-120">
      <div class="container">
        <div class="row">
          <div class="contact-banner">
            <div class="text-area">
              <h2 class="white">Бір қоңырау арқылы жедел желі<br> қызметін алыңыз.</h2>
              <div class="d-flex align-items-center">
                <a href="" class="h2 color-primary"><img src="assets/media/icons/telephone.png" alt="">+7(705)6066-888</a>
              </div>
              <h5 class="white mb-32">Біз сізге көмек көрсетуге дайынбыз 24/7</h5>
              <a href="contact.html" class="cus-btn">Қоңырау шалыңыз</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us Banner End -->

    <!-- Blog Area Start -->
    <section class="blog">
      <div class="container">
        <h6 class="color-primary fw-600">Blogs</h6>
        <h2 class="light-black mb-32">Біздің жаңалықтарды оқыңыз.</h2>
        <div class="row">
         {%- for post in collections.post | reverse -%}
           {% if loop.index0 < 3 %}

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-8 offset-md-0 offset-2">
            <div class="blog_card mb-32">
              <div class="blog_card_img_block">
                <a href="{{ post.url }}" target="_blank"><img src="{{ post.data.image}}" alt="{{ post.data.alt }}" class="br-30"></a>
                <p class="date h6 fw-600">{{post.data.date.toLocaleDateString()}}</p>
              </div>
              <div class="blog_card_text_block p-24">
                <h5 class="mb-32"><a href="{{ post.url }}" target="_blank">{{ post.data.title }}</a></h5>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="author">
                    <img src="/assets/media/users/blog-user_1.png" alt="">
                    <h6 class="light-black fw-600">{{ post.data.author }}</h6>
                  </div>
                  <a href="{{ post.url }}" class="fw-600 color-primary" target="_blank">Read More</a>
                </div>
              </div>
            </div>
          </div>
          
           {%- endif %}
                 {%- endfor %}
        </div>
        <div class="see_all_btn d-flex text-center">
          <a href="/pages/blogs" class="cus-btn m-auto" target="_blank">Барлығын қарау</a>
        </div>
      </div>
    </section>
    <!-- Blog Area End -->
  </div>

  <!-- Footer Start -->
  
  <!-- Footer Area End  -->
  